/* UNIVERSAL STYLES */
:root {
  /* palette 1 */
  --scarlet: #D11149;
  --cardinal: #C52233;
  --orange: #F17105;
  --banana: #E6C229;
  --electricPurple: #6610F2;
  --electricBlue: #1A8FE3;
  --linen: #F7EDE2;
  --lightGrey: #84A59D;
  --darkGrey: #36494E;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
}

.root {
  height: 100vh;
}

.container {
  height: 100%;
}

main {
  background-color: var(--linen);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

/* HEADER STYLES */

header {
  display: flex;
  align-items: center;
  background-color: var(--cardinal);
  font-family: 'Black Han Sans';
  font-size: 30px;
  height: 125px;
}

header h1 {
  margin-left: 5%;
  color: var(--linen);
  -webkit-text-stroke: 0.3px red;
}

/* HOMEPAGE STYLES */

.Home {
  flex: 1;
  background-image: url('../assets/images/mycookbookbreadhor.jpg');
  background-size: cover;
}

.Home h1 {
  font-family: Urbanist;
  font-size: 42px;
  color: var(--linen);
  margin: 50px 30% 0px 0%;
  /* background-color: var(--linen); */
  opacity: 0.1;
}

.welcome {
  background-color: var(--linen);
  border: 4px solid var(--darkGrey);
  border-radius: 12px;
  margin: 75px 10%;
  /* box-shadow: 0 0px 10px 0 #84A59D, 0 0px 10px 0 #84A59D; */
}