body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NEED TO ADD DISPLAY FLEX TO HEADER to get it to touch the top of the screen. It is currently block */

header {
  background-color: green;
  display: flex;
}

/* TODO: Need to fix the homepage so it fits the viewport but doesnt overflow from it */
main {
  background-color: yellow;
  display: flex;
  min-height: 100vh;
}